*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;

background:
linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
url('https://images.unsplash.com/photo-1521587760476-6c12a4b040da');

background-size:cover;
background-position:center;
}

.auth-box{
width:400px;
padding:40px;
background:rgba(255,255,255,0.1);
backdrop-filter:blur(15px);
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,0.5);
text-align:center;
color:white;
}

.auth-box h1{
margin-bottom:30px;
font-size:40px;
}

.input-box{
margin-bottom:20px;
}

.input-box input{
width:100%;
padding:15px;
border:none;
outline:none;
border-radius:10px;
font-size:16px;
background:rgba(255,255,255,0.2);
color:white;
}

.input-box input::placeholder{
color:#ddd;
}

button{
width:100%;
padding:15px;
border:none;
border-radius:10px;
background:gold;
color:black;
font-size:18px;
font-weight:bold;
cursor:pointer;
transition:0.3s;
}

button:hover{
transform:scale(1.05);
background:white;
}

.link{
margin-top:20px;
}

.link a{
color:gold;
text-decoration:none;
}